.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
.amplify-hosting/
amplify_outputs.json
# .envファイルを.gitignoreに追加
.env.development
.env.local
